@page "/blazor-javascript"
@inject IJSRuntime JsRuntime;

<h3> Blazor / Javascript</h3>

<div class="row my-4">
	<div class="col-4">
		<button class="btn btn-secondary" @onclick="( ()=> DemoConfirmacion(MensajeConfirmacion))">
			Demo botón confirmar
		</button>
	</div>
</div>

<div class="row my-4">
	<div class="col-4">
		<button class="btn btn-success" @onclick="DemoSuccess">
			Demo toastr success
		</button>
		<button class="btn btn-danger" @onclick="DemoError">
			Demo toastr error
		</button>
	</div>
</div>

<div class="row my-4">
	<div class="col-4">
		<button class="btn btn-success" @onclick="DemoSuccessSwal">
			Demo swal success
		</button>
		<button class="btn btn-danger" @onclick="DemoErrorSwal">
			Demo swal error
		</button>
	</div>
</div>

<div class="row my-4">
	@if (ConfirmarResultado)
	{
		<p>Confirmado!</p>	
	}
	else
	{
		<p>Sin confirmar</p>
	}
</div>

@code {
	private string MensajeConfirmacion = "Esta seguro de dar click?";
	private bool ConfirmarResultado { get; set; }

	private async Task DemoConfirmacion(string mensaje)
	{
		ConfirmarResultado = await JsRuntime.InvokeAsync<bool>("confirm", mensaje);
	}
	private async Task DemoSuccess()
	{
		await JsRuntime.ToastrSuccess("Exito papu!");
	}
	private async Task DemoError()
	{
		await JsRuntime.ToastrError("Error papu!");
	}
	private async Task DemoSuccessSwal()
	{
		await JsRuntime.SwalSuccess("Exito papu!");
	}
	private async Task DemoErrorSwal()
	{
		await JsRuntime.SwalError("Error papu!");
	}
}
